@black: #000000;
@white: #FFFFFF;
@red: #FF0000;
@light-gray: lightGrey;
@dark-gray: #404040;

@topbar-bg: #F3F3F3;
@topbar-link: #333C41;
@background: #EDEDED;
@side-background: #1B1E25;
@side-head-bg: #23262F;
@side-text: #919598;
@side-hover-bg: #22252E;
@side-hover-text: #E7E9E8;
@selected-hover-bg: #22252E;
@border-left: #4E98EC;
@border-left-inv: #7DB7F8;
@unread-bg: #3B3F4A;

// Variable definitions

.border-radius (@value: 5px) {
	-webkit-border-radius: @value;
	-moz-border-radius: @value;
	-ms-border-radius: @value;
	-o-border-radius: @value;
	border-radius: @value;
}

.box-shadow (@value: none) {
	-webkit-box-shadow: @value;
	-moz-box-shadow: @value;
	box-shadow: @value;
}

.transition (@value: none) {
	-webkit-transition: @value;
	-moz-transition: @value;
	-ms-transition: @value;
	-o-transition: @value;
	transition: @value;
}

.padding-margin (@size: 0px) {
	padding: @size;
	margin: @size;
}

.snap () {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.snap-notop () {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

// Mixins

body.holder {
	height: 100%;
	background: @background;
}

div.container {
	height: 100%;
	float: left;
	position: absolute;
	right: 0;
	left: 210px;
}

.topbar {
	display: inline-block;
	width: 100%;
	position: absolute; 
	z-index: 6000;
	font-size: 13px;
	background: @topbar-bg;
	.padding-margin(0px);

	.main {
		position: fixed;

		.inner {
			top: 42px;
		}
	}

	.inner {
		z-index: 6010;
		top: 37px;
		height: 3px;
		margin-top: 5px;
		background: -webkit-linear-gradient(left, rgba(163,173,36,1) 0%,rgba(163,173,36,1) 20%,rgba(69,148,204,1) 20%,rgba(69,148,204,1) 40%,rgba(196,38,46,1) 40%,rgba(196,38,46,1) 60%,rgba(217,112,156,1) 60%,rgba(217,112,156,1) 80%,rgba(255,161,0,1) 80%) 0 0 no-repeat;
		.snap-notop();
		.box-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
	}

	.info-left {
		margin-right: 150px;
	}

	#main-menu {
		width: 950px;
		margin: 0 auto;
		list-style-type: none;

		li.logo {
			float: left;

			a {
				color: @black;
			}
		}

		li {
			display: inline-block;
			float: right;

			a {
				display: block;
				padding: 12px 14px 14px 14px;
				font-weight: bold;
				color: #1E7D94;
			}

			a:hover {
				text-decoration: none;
			}
		}

		li:not(.logo) a:hover {
			background: @light-gray;
		}
	}

	#options-menu {
		float: right;
		z-index: 6020;
		width: 160px;
		list-style-type: none;
		text-align: right;
		.padding-margin(0px);

		> li {
			display: inline-block;
			position: relative;
			line-height: 11px;
			margin: 6px 6px 6px 0;

			a {
				display: block;
				padding: 7px;
				text-decoration: none;
				font-size: 11px;
				font-weight: bold;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				background: #D1D1D1;
				color: @topbar-link;
				.transition(none);
			}

			a.danger {
				background-color: #C43C35;
				color: @white;
			}

			a:hover {
				background: #7DB7F8;
				color: @white;
			}

			a.menu:after, .dropdown-toggle:after
			{
				display: inline-block;
				text-indent: -99999px;
				vertical-align: top;
				text-align: left;
				width: 0;
				height: 0;
				margin-top: 4px 4px 0 0;
				content: "&darr;";
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid #333c41;
			}
		}

		> li:hover a.menu:after,
		> li:hover a.dropdown-toggle:after {
			border-top: 4px solid #fff;
		}

		#close-link {
			height: auto;
			padding: 7px;
		}

		.menu-dropdown,
		.dropdown-menu
		{
			display: none;
			position: absolute;
			float: left;
			top: 30px;
			right: -6px;
			z-index: 10000;
			zoom: 1;
			min-width: 160px;
			max-width: 220px;
			list-style: none;
			padding: 4px 0;
			margin: 0;
			background: #F7F7F7;
			.box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));

			li {
				float: none;
				display: block;
				background-color: none;
			}

			.divider {
				overflow: hidden;
				height: 1px;
				margin: 5px 1px;
				background: #E5E5E5;
				border-bottom: 1px solid @white;
			}

			a {
				display: block;
				clear: both;
				line-height: 18px;
				white-space: nowrap;
				text-align: left;
				padding: 4px 13px!important;
				font-weight: normal!important;
				color: #555555;
				background: #F7F7F7!important;
			}

			a:hover {
				color: #555555!important;
				text-decoration: none;
				background-color: #E3EDFF!important;
			}
		}
	}
}

// template.app styles

div#sidebar {
	height: 100%;
	width: 210px;
	float: left;
	position: relative;
	font-size: 12px;
	background: @side-background;
	.padding-margin(0px);

	.header {
		background: @side-head-bg;
		padding: 10px;
		color: @side-text;

		h3 {
			.padding-margin(0px);
			padding-bottom: 8px;
			line-height: 1;
			color: @white;
			text-shadow: 0 1px 3px rgba(0,0,0,0.5);
			text-rendering: optimizeLegibility;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.items {

		ul {
			.padding-margin(0px);
			list-style-type: none;
			position: relative;

			li {
				.padding-margin(0px);
				list-style-type: none;
				position: relative;

				a {
					display: block;
					padding: 6px 6px 6px 15px;
					text-decoration: none;
					font-weight: bold;
					color: @side-text;
					.transition(none);

					span.net-loader {
						display: inline-block;
						background: url('/images/loader-2.gif') no-repeat 0 0;
						padding: 0 5px 0 22px;
					}
				}

				a > span.alert:nth-last-child(2):not(:first-child) {
					margin: 0 6px 0 0;
				}

				a:hover {
					span.net-loader {
						background: url('/images/loader-3.gif') no-repeat 0 0;
					}
				}
			}

			li:not(.selected) a:hover {
				color: @side-hover-text;
				background: @selected-hover-bg;
			}

			.title {
				a {
					padding: 6px 9px;
				}
			}

			.selected {
				width: 210px;
				z-index: 7000;

				a {
					color: @side-background;
					background: @white;
					border-left: 5px solid @border-left;

					span.net-loader {
						background: url('/images/loader-1.gif') no-repeat 0 0;
					}
				}

				a:hover {
					span.net-loader {
						background: url('/images/loader-1.gif') no-repeat 0 0;
					}
				}

				span.alert.unread {
					background: @light-gray;
					color: @dark-gray;
				}
			}

			span.alert {
				padding: 2px 5px 2px 5px;
				margin: 0 7px 0 0;
				.border-radius(3px);
			}

			span.alert.unread {
				background: @unread-bg;
				color: @side-hover-text;
			}

			span.alert.unread:hover {
				background: @side-hover-text;
				color: @unread-bg;
			}

			span.alert.highlight {
				background: @red;
				color: @white;
			}

			span.net-loaded {
				.padding-margin(0px);
			}
		}
	}

	.footer {
		.snap-notop();

		.link {
			a {
				display: block;
				padding: 9px;
				margin: 0;
				text-decoration: none;
				font-weight: bold;
				color: @side-text;
				background: @side-background;
			}
		}

		.link.selected {
			width: 210px;
			z-index: 2000;
			position: relative;

			a {
				color: @side-background;
				background: @white;
				border-left: 5px solid @border-left;
			}
		}

		.link:not(.selected) a:hover {
			color: @side-hover-text;
			background: @side-hover-bg;
			border-left: 5px solid @border-left-inv;
		}

		.text {
			font-size: 11px;
			line-height: 150%;
			padding: 8px 10px;
			color: @side-text;
			background: @side-head-bg;

			a {
				color: inherit;
				text-decoration: none;
			}

			a:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}

// template.sidebar styles