.topbar .topic-wrap {
	width: 85%;
	float: left;
}

.topbar ul#options-menu {
	float: right;
}

.tab .messages {
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 172px;
	bottom: 0;
}

.tab .userlist {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.backlog .row {
	padding: 3px;
}