<template name="app">
	<html>
		<head>
			<title>{{#if title}}IRCAnywhere - {{title}}{{else}}IRCAnywhere{{/if}}</title>

			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="description" content="IRCAnywhere is an online web bouncer which keeps you connected to IRC at all times and gives you a sleek modern interface." />
			<meta name="keywords" content="IRC, Bouncer, Webclient, IRC Client, BNC" />
		</head>
		<body>
			{{yield}}
		</body>
	</html>
</template>

<template name="main">
	<div class="wire-container clear">
		<div class="move-left">
			{{#each events}}
				{{#isolate}}
				<pre>{{event this}}</pre>
				{{/isolate}}
			{{/each}}
		</div>
		<div class="move-right">
			<pre>{{event data}}</pre>
		</div>
	</div>
</template>