<template name="app">
	<html>
		<head>
			<title>{{#if title}}IRCAnywhere - {{title}}{{else}}IRCAnywhere{{/if}}</title>
		</head>
		<body>
			<div id="holder" class="clear">
				<div class="sidebar">
					<div class="header">
						<h3>IRCAnywhere</h3>
						<a href="{{pathFor 'settings'}}">Settings</a> &middot; <a href="{{pathFor 'logout'}}">Logout</a>
					</div>
					<div id="sidebar">
						<div class="content">
							{{#each networks}}
								<div id="network" class="network"><ul id="network-{{_id}}">
									<li class="title clear">
										<a href="{{pathFor 'network'}}" title="{{name}}" class="locked">
											<span class="link net-loader">{{name}}</span>
										</a>
									</li>
									{{#each tabs}}
									<li class="clear">
										<a href="{{pathFor 'tab'}}" title="{{title}}">
											<span class="link">{{title}}</span>
										</a>
									</li>
									{{/each}}
								</ul></div>
							{{/each}}
						
							<!-- <div id="network" class="network">
								<ul id="network-123">
									<li class="title clear" id="link-${id}" data-type="window">
										<a href="${hash}" title="${title}" class="locked">
											<span class="link net-loader">${chan}</span>
										</a>
									</li>
									<li class="clear" id="link-${id}" data-type="${type}">
										<a href="${hash}" title="${title}">
											<span class="link ${cssClass}">${chan}</span>
										</a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
					<div id="footer">
						<div class="link">
							<a href="{{pathFor 'addnetwork'}}">Add a new network</a>
						</div>
						<div class="text">
							&copy; IRCAnywhere 2013 &middot; <a href="https://twitter.com/ircanywhere" target="_blank">@ircanywhere</a> &middot; <a href="https://github.com/ircanywhere/ircanywhere/issues" target="_blank">Issue tracker</a>
						</div>
					</div>
				</div>
				<div class="container clear" id="content-container">
					{{#isolate}}
						{{yield}}
					{{/isolate}}
				</div>
			</div>
		</body>
	</html>
</template>

<template name="main">
	<div class="wire-container clear">
		<div class="move-left">
			{{#each events}}
				{{#isolate}}
				<pre>{{event this}}</pre>
				{{/isolate}}
			{{/each}}
		</div>
		<div class="move-right">
			{{#each data}}
				{{#isolate}}
				<pre>{{event this}}</pre>
				{{/isolate}}
			{{/each}}
		</div>
	</div>
</template>