<!doctype html>
<html>
	<head>
		<title>Title of the document</title>

		<script src="/ext/ember.js"></script>
		<script src="/ext/handlebars.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/build/templates.js"></script>
		<script src="/build/ircanywhere.min.js"></script>
	</head>
	<body>
		<div id="main-holder" class="clear">
			<div class="topbar clear main">
				<ul id="main-menu">
					<li class="logo"><a href="{{pathFor 'home'}}">IRCAnywhere</a></li>
					<li><a href="{{pathFor 'signup'}}">Signup</a></li>
				</ul>
				<div class="topbar inner"></div>
			</div>
			{{yield}}
			<div id="main-footer">
				<p><a href="{{pathFor 'signup'}}">Signup</a> &middot; <a href="https://twitter.com/ircanywhere" target="_blank">@ircanywhere</a></p>
				<p>© 2013 IRCAnywhere. All rights reserved.</p>
			</div>
		</div>
	</body>
</html>