<tr>
	<td>
		<label for="chat" class="nick-button">{{nick}}</label>
	</td>
	<td>
		<form class="input-area">
			{{textarea class="command-field" rows="1" tabindex="1" value=inputValue}}
		</form>
	</td>
</tr>