<div class="outer-nick-button">
	<label for="chat" class="nick-button">{{nick}}</label>
</div>
<form class="input-area">
	{{textarea class="command-field" rows="1" tabindex="1" value=inputValue autofocus="true"}}
</form>