<div class="inside-backlog">
	{{#if this.parentController.selectedTab.loading}}
		<img src="/images/loader.gif" alt="Loading..." class="loading-icon" />
	{{else}}
		<a href="#" class="backlog-load btn secondary" {{action 'loadBacklog'}}>Load previous messages</a>
	{{/if}}
	{{#each event in filtered itemController="event" groupedRows=true}}
		{{lookup event.templateName event.content controller}}
	{{/each}}
</div>