{{#if view.isChannel}}
	{{#with content.selectedTab}}
		<span class="channel-name">{{title}}</span><span class="modes">+{{modes}}</span><span class="topic">{{ircParse topic.topic}}</span>
	{{/with}}
{{/if}}