<div class="header">
	<h3>IRCAnywhere</h3>
	<a href="#" {{action "openModal" "settings"}}>Settings</a> &middot; <a href="#" {{action "openModal" "help"}}>Help</a> &middot; <a href="api/logout">Logout</a>
</div>
<div class="items">
	<ul>
	{{#each content}}
		{{render "sidebaritem" this}}
	{{/each}}
	</ul>
</div>
<div class="footer">
	<div class="link">
		<a href="#" {{action "openModal" "addnetwork"}}>Add a new network</a>
	</div>
	<div class="text">
		&copy; IRCAnywhere 2013 &middot; <a href="https://twitter.com/ircanywhere" target="_blank">@ircanywhere</a> &middot; <a href="https://github.com/ircanywhere/ircanywhere/issues" target="_blank">Issue tracker</a>
	</div>
</div>