<div {{bind-attr id=view.tabId}} class="tab">
	<div class="messages">
		{{render 'overlaybar' this}}
		<div class="backlog">
			{{render 'messages'}}
		</div>
		{{render 'input'}}
	</div>
</div>