<div class="members-title clear">
	<span class="left">Users</span>
	<span class="right">{{userCount}}</span>
</div>
<ul>
	{{#each user in filtered}}
		<li>{{userLink true user}}</li>
	{{/each}}
</ul>