@import "../index/index.lessimport";

.backlog {
	.snap;
	bottom: 44px;
	padding-bottom: 4px;
	overflow-y: auto;

	.row {
		margin: 0;
		position: relative;
		display: -webkit-flex;
		display: flex;

		&[data-self=true] {
			background: linen;
		}

		a[rel=user-link] {
			color: #383838;
			font-weight: bold;
			margin: 0 10px 0 0;
		}

		span {
			line-height: 155%;

			&.column {
				-webkit-flex: 1;
				flex: 1;
			}

			&.time {
				padding: 5px 10px;
				text-align: right;
				width: 50px;
			}

			&.message,
			&.action,
			&.event {
				padding: 3px 12px;
				font-size: 13px;
			}

			&.prefix {
				display: inline-block;
				margin: 0 3px 0 -1px;
				width: 12px;

				&.op { color: darkRed; }
				&.halfop { color: darkOrange; }
				&.voice { color: blue; }
			}
		}

		&.other {
			a[rel=user-link] {
				font-weight: normal;
				text-decoration: underline;
				color: inherit!important;
				margin: 0;
			}

			span.time {
				color: #9C9C9C!important;
			}

			&[data-type=join] {
				color: darkGreen;
			}

			&[data-type=part],
			&[data-type=quit],
			&[data-type=kick] {
				color: darkRed;
			}

			&[data-type=mode],
			&[data-type=nick],
			&[data-type=topic] {
				color: darkBlue;
			}
		}
	}
}