<!DOCTYPE html>
<html>
	<head>
		<title>IRCAnywhere</title>

		<script src="/build/dependency.min.js"></script>
		<script src="/build/templates.js"></script>
		<script src="/build/ircanywhere.js"></script>

		<link rel="stylesheet" type="text/css" href="/build/ircanywhere.css" />
		<!--[if lte IE 9]>
			<link rel="stylesheet" type="text/css" href="/css/ie.css" />
		<![endif]-->
	</head>
	<body>
	<script type="text/x-handlebars">
		{{outlet}}
		{{outlet 'modal'}}
	</script>
	</body>
</html>