<!DOCTYPE html>
<html>
	<head>
		<title>IRCAnywhere</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="/build/dependencies.js"></script>
		<script src="/build/templates.js"></script>
		<script src="/build/ircanywhere.js"></script>

		<link rel="stylesheet" type="text/css" href="/build/ircanywhere.css" />
	</head>
	<body>
		<script type="text/x-handlebars">
			{{outlet}}
			{{outlet 'modal'}}
		</script>
		<div id="breakpoints">
			<div class="breakpoint-small" data-size="small"></div>
			<div class="breakpoint-medium" data-size="medium"></div>
			<div class="breakpoint-large" data-size="large"></div>
		</div>
		<audio id="audio-notification" src="/sounds/notification.mp3" preload="auto"></audio>
	</body>
</html>