/* body and global page styles */

	.alert-message
	{
		border: 0;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
		color: #404040;
		margin-bottom: 18px;
		padding: 7px 15px;
		position: relative;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}

	.alert-message .close
	{
		margin-top: 0;
		margin-top: 1px;
	}

	.alert-message a
	{
		color: #404040;
		font-weight: bold;
	}

	.alert-message.danger p a, .alert-message.error p a, .alert-message.success p a, .alert-message.info p a { color: #ffffff; }
	.alert-message h5 { line-height: 18px; }
	.alert-message p { margin-bottom: 0; }
	.alert-message div
	{
		line-height: 28px;
		margin-bottom: 2px;
		margin-top: 5px;
	}

	.alert-message .btn
	{
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	}

	.alert-message.block-message
	{
		background-color: #fdf5d9;
		background-image: none;
		border-color: #fceec1;
		box-shadow: none;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		moz-box-shadow: none;
		padding: 14px;
		webkit-box-shadow: none;
	}

	.alert-message.block-message ul, .alert-message.block-message p
	{
		margin-right: 30px;
		margin-bottom: 0;
		margin-top: 2px;
	}
	
	.alert-message.block-message li { color: #404040; }
	.alert-message.block-message .alert-actions { margin-top: 5px; }
	.alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info
	{
		color: #404040;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}

	.alert-message.block-message.error
	{
		background-color: #fddfde;
		border-color: #fbc7c6;
	}

	.alert-message.block-message.success
	{
		background-color: #d1eed1;
		border-color: #bfe7bf;
	}

	.alert-message.block-message.info {
		background-color: #ddf4fb;
		border-color: #c6edf9;
	}

	.alert-message.block-message.danger p a,
	.alert-message.block-message.error p a,
	.alert-message.block-message.success p a,
	.alert-message.block-message.info p a { color: #404040; }

/* footer styles */

div#main-footer
{
	position: relative;
	padding: 40px 0;
	color: #808080;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
}

	div#main-footer p
	{
		font-size: 16px;
	}
	
	div#main-footer p:not(:last-child)
	{
		margin: 0 0 10px;
		line-height: 1.5;
	}

	div#main-footer a
	{
		font-weight: bold;
		color: #808080;
		padding: 0 3px;
	}

		div#main-footer a:hover
		{
			text-decoration: underline;
		}

/* tooltips */

div.tooltip
{
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	width: auto!important;
}

div.tooltip.in
{
	opacity: 0.8;
	filter: alpha(opacity=80);
}

div.tooltip.top
{
	margin-top: -10px;
	padding: 5px 0!important;
}

div.tooltip.right
{
	margin-left: 10px;
	padding: 0 5px!important;
}

div.tooltip.bottom
{
	margin-top: 10px;
	padding: 5px 0!important;
}

div.tooltip.left
{
	margin-left: -10px;
	padding: 0 5px!important;
}

.tooltip-inner
{
	background-color: #000000;
	color: white;
	max-width: 200px;
	padding: 4px 8px;
	text-align: left;
	text-decoration: none;
}

.tooltip-arrow
{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow
{
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}

.tooltip.right .tooltip-arrow
{
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000000;
}

.tooltip.left .tooltip-arrow
{
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000000;
}

.tooltip.bottom .tooltip-arrow
{
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}

span.tooltip, span.tt-tooltip
{
	font-family: Tahoma;
	padding: 10px 0 0 8px;
	font-size: 12px;
	display: inline-block;
	float: left;
}

	span.tt-tooltip a, span.tooltip a { color: #00458C; font-weight: bold; }