<div data-type="notice" {{bind-attr class=classNames data-id=content._id data-read=content.read}}>
	<span class="time">{{time content.message.time}}</span>
	<span class="column message">{{userLink false null}}{{ircParse content.message.message}}</span>
</div>