<div data-type="status" {{bind-attr class=classNames data-id=content._id}}>
	<span class="time">{{time content.message.time}}</span>
	<span class="column message">{{content.message.message}}</span>
</div>