{% extends "index.html" %}
{% block content %}
	<div id="banner">
		<div id="banner-inner" class="clear">
			<div class="banner-left">
				<h2>Contact us</h2>
			</div>
		</div>
	</div>
	<div id="main">
		<div id="main-inner">
			<form method="post" id="contact-form"><fieldset>
			<div class="clear modal-body">
				<div class="left">
					<p class="large">Found a bug, got a feature request, account issues? Drop us a line.</p>
					<div id="message-holder"></div>

					<div class="clearfix">
						<label for="subject">Subject</label>
						<div class="input">
							<div class="field">
								<input class="xlarge" id="subject" name="subject" type="text" tabindex="1" />
							</div><span class="tooltip"><a href="#" rel="twipsy" title="A brief description of your email.">?</a></span>
						</div>
					</div>

					<div class="clearfix">
						<label for="your-name">Your Name</label>
						<div class="input">
							<div class="field">
								<input class="xlarge" id="your-name" name="your-name" type="text" tabindex="2" />
							</div><span class="tooltip"><a href="#" rel="twipsy" title="Your full name, self explanatory.">?</a></span>
						</div>
					</div>

						<div class="clearfix">
						<label for="email-address">Email Address</label>
						<div class="input">
							<div class="field">
								<input class="xlarge" id="email-address" name="email-address" type="text" tabindex="3" />
							</div><span class="tooltip"><a href="#" rel="twipsy" title="A valid email address, we will most likely get back in touch with you through this.">?</a></span>
						</div>
					</div>

					<div class="clearfix">
						<label for="message">Message</label>
						<div class="input">
							<div class="field">
								<textarea class="xlarge" id="message" name="message" rows="5"  tabindex="4"></textarea>
							</div><span class="tt-tooltip"><a href="#" rel="twipsy" title="The content of your message, if you are reporting a bug please include screenshots hosted somewhere like imgur.com.">?</a></span>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<div class="field">
								<input type="submit" class="btn primary" value="Contact us"  tabindex="5" />
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<h3>Other ways to get in touch.</h3>
					<div class="indent">
						<h5>Email</h5>
						<p class="large">Don't want to use the contact form to the left? Just drop us an email at <a href="mailto:support@ircanywhere.com">support@ircanywhere.com</a>.</p>
						<h5>IRC</h5>
						<p class="large">We like to use IRC just like you! You can catch us in our support channel <a href="irc://irc.ircanywhere.com/ircanywhere">#ircanywhere</a>.</p>
						<h5>Twitter</h5>
						<p class="large">You can get in touch with us on twitter <a href="https://twitter.com/IRCAnywhere" target="_blank">@ircanywhere</a>.</p>
					</div>
				</div>
			</div>
			</fieldset></form>
		</div>
	</div>
{% endblock %}