<!doctype html>
<html>
<head>
	<title>{{ title }}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="IRCAnywhere is an online web bouncer which keeps you connected to IRC at all times and gives you a sleek modern interface." />
	<meta name="keywords" content="IRC, Bouncer, Webclient, IRC Client, BNC" />

	<link id="favicon" rel="shortcut icon" type="image/ico" href="{{ base_url }}static/images/favicon.ico" />
	<link rel="stylesheet" href="{{ base_url }}static/css/client.css" type="text/css" media="screen" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ base_url }}static/js/deps/plugins-combined.js"></script>
	<script type="text/javascript" src="{{ base_url }}static/js/app/website.js"></script>
	<script type="text/javascript">
		/*var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-29855733-1']);
		_gaq.push(['_setDomainName', 'ircanywhere.com']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();*/
	</script>
</head>
<body>
	<div id="main-holder" class="clear">
		<div class="topbar clear main">
			<ul id="main-menu">
				<li class="logo"><a href="{{ base_url }}">IRCAnywhere</a></li>
				<li><a href="{{ base_url }}contact">Contact Us</a></li>
				<li><a href="{{ base_url }}signup">Signup</a></li>
				<li><a href="{{ base_url }}about">About</a></li>
			</ul>
			<div class="topbar inner"></div>
		</div>
		{% block content %}
		{% endblock %}
		<div id="main-footer">
			<p><a href="{{ base_url }}about">About</a> &middot; <a href="{{ base_url }}signup">Signup</a> &middot; <a href="{{ base_url }}contact">Contact</a> &middot; <a href="https://twitter.com/ircanywhere" target="_blank">@ircanywhere</a></p>
			<p>© 2013 IRCAnywhere. All rights reserved.</p>
		</div>
	</div>
</body>
</html>