{% extends "log-index.html" %}
{% block content %}
	<div id="log-main">
		<form method="post" id="logs-form">
		<div class="button-heading clear">
			<div class="l">
				<div class="clearfix">
					<div class="inline-inputs">
						<div class="logo"><a href="{{ base_url }}" class="main">IRCAnywhere</a></div>
						<div class="s-field"><select name="viewLogNet" id="viewLogNet" class="l btm">
						{% for net in log_nets %}
							<option value="{{ net.network }}"{{ net.selected }} data-location="{{ base_url }}{{ net.url }}">{{ net.name }}</option>
						{% endfor %}
						</select></div>

						<div class="s-field btn-left"><select name="viewLogs" id="viewLogs" class="l btm">
						{% for log in logs %}
							<option value="{{ log.log }}"{{ log.selected }} data-location="{{ base_url }}{{ log.url }}">{{ log.name }}</option>
						{% endfor %}
						</select></div>
					</div>
				</div>
			</div>
		</div>
		<div id="logDiv" class="channel-select clear">
			{% if len > 0 %}
				{% for month in months.keys() %}
				<ul class="left">
					<li class="title">{{ month }}</li>
					{% for day in sorted(months[month].days.keys()) %}
						<li><a href="{{ base_url }}{{ months[month].days[day].url }}">{{ months[month].days[day].date }}</a></li>
					{% endfor %}
				</ul>
				{% endfor %}
			{% else %}
			<div class="no-log-row">There are no logs to display at the moment.</div>
			{% endif %}
		</div>
		</form>
	</div>
{% endblock %}