{% extends "log-index.html" %}
{% block content %}
	<div id="log-main">
		<form method="post" id="logs-form">
			<div class="button-heading clear">
				<div class="l">
					<div class="clearfix">
						<div class="inline-inputs">
							<div class="logo"><a href="{{ base_url }}" class="main">IRCAnywhere</a></div>
							<div class="s-field"><select name="viewLogNet" id="viewLogNet" class="l btm">
							{% for net in log_nets %}
								<option value="{{ net.network }}"{{ net.selected }} data-location="{{ base_url }}{{ net.url }}">{{ net.name }}</option>
							{% endfor %}
							</select></div>

							<div class="s-field btn-left"><select name="viewLogs" id="viewLogs" class="l btm">
							{% for log in logs %}
								<option value="{{ log.log }}"{{ log.selected }} data-location="{{ base_url }}{{ log.url }}">{{ log.name }}</option>
							{% endfor %}
							</select></div>
						</div>
					</div>
				</div>
				<div class="r">
					<button data-type="date" data-location="{{ base_url }}logs/{{ prev_date.prefix }}/{{ prev_date.real }}" id="dateLeft" class="btn secondary"{{ prev_date.disabled }}>
						&larr; {{ prev_date.text }}<span class="d"></span>
					</button>
					<button data-type="date" data-location="{{ base_url }}logs/{{ date.prefix }}/{{ date.real }}" id="dateMiddle" class="btn secondary btn-left"{{ date.disabled }}>
						<span class="d">{{ date.text }}</span>
					</button>
					<button data-type="date" data-location="{{ base_url }}logs/{{ next_date.prefix }}/{{ next_date.real }}" id="dateRight" class="btn secondary btn-left"{{ next_date.disabled }}>
						<span class="d"></span>{{ next_date.text }} &rarr;
					</button>
				</div>
			</div>
			<div id="logDiv">
				{{ log_data|safe }}
			</div>
		</form>
	</div>
{% endblock %}