<div class="modal-header">
	<h3>Add Network</h3>
</div>
<div class="clear modal-body"><form id="network-form" data-content="add-network">
	<div class="full">
		<div class="alert-message block-message warning" id="edit-warning"></div>
		<div class="alert-message block-message error hide" id="connect-error"></div>
	</div>
	<div class="left">
		<input type="hidden" id="submit-type" value="add-network" />
		<div class="clearfix">
			<label for="server-hostname">Hostname</label>
			<div class="input">
				<div class="field">
					<input class="xlarge" id="server-hostname" name="server-hostname" type="text" tabindex="3" />
				</div><span class="tooltip"><a href="#" rel="twipsy" title="The hostname of the network.">?</a></span>
			</div>
		</div>

		<div class="clearfix">
			<label for="server-port">Port (SSL?)</label>
			<div class="input">
				<div class="input-prepend">
					<div class="field">
						<label class="add-on"><input type="checkbox" name="server-secure" id="server-secure" value="" tabindex="2" /></label>
						<input class="mini" id="server-port" name="server-port" type="text" tabindex="4" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="The port to connect to, usually 6667 and 6697 on SSL.">?</a></span>
				</div>
			</div>
		</div>

		<div class="clearfix">
			<label for="server-password">Password (SASL?)</label>
			<div class="input">
				<div class="input-prepend">
					<div class="field">
						<label class="add-on"><input type="checkbox" name="server-sasl" id="server-sasl" value="" tabindex="5" /></label>
						<input class="mini" id="server-password" name="server-password" type="password" tabindex="6" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Some servers require a password to connect to, if you are using SASL this is your nickserv password.">?</a></span>
				</div>
			</div>
		</div>

		<div class="clearfix">
			<label for="server-nickname">Nickname</label>
			<div class="input">
				<div class="field">
					<input class="xlarge" id="server-nickname" name="server-nickname" type="text" tabindex="7" />
				</div><span class="tooltip"><a href="#" rel="twipsy" title="The nickname to connect with.">?</a></span>
			</div>
		</div>

		<div class="clearfix">
			<label for="server-realname">Realname</label>
			<div class="input">
				<div class="field">
					<input class="xlarge" id="server-realname" name="server-realname" type="text" tabindex="8" />
				</div><span class="tooltip"><a href="#" rel="twipsy" title="The realname to connect with.">?</a></span>
			</div>
		</div>
	</div>
	<div class="right">
		<fieldset class="additional-settings">
			<legend>Additional Options</legend>

			<div class="clearfix">
				<label for="highlight-words">Autojoin Channels</label>
				<div class="input">
					<div class="field">
						<textarea class="xlarge" id="autojoin-chans" name="autojoin-chans" rows="4" tabindex="3"></textarea>
					</div><span class="tt-tooltip"><a href="#" rel="twipsy" title="Any channels you wish to automatically join, seperated by a new line, passworded channels should be in the format of '#channel password'.">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="highlight-words">On-Connect Commands</label>
				<div class="input">
					<div class="field">
						<textarea class="xlarge" id="connect-commands" name="connect-commands" rows="4" tabindex="3"></textarea>
					</div><span class="tt-tooltip"><a href="#" rel="twipsy" title="A list of raw commands to be sent to the IRC server on connect, such as opering up.">?</a></span>
				</div>
			</div>
		</fieldset>
	</div>
</form></div>
<div class="modal-footer client-modal-footer">
	<input type="submit" class="btn primary submit-modal-form" value="Add Network" tabindex="9">
</div>