<div class="modal-header">
	<h3>Settings</h3>
</div>
<div class="clear modal-body">
	<div class="left-set">
		<div id="tab-settings"><form method="post" id="settings-form"><fieldset>
			<p>The form below is a list of basic client settings. There will be more to come, stay tuned.</p>

			<div id="settings-message-holder"></div>

			<div class="clearfix">
				<label for="your-name">Your Name</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="your-name" name="your-name" type="text" value="{{ yourName }}" tabindex="1" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Your full name, no more than 35 characters.">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="irc-nickname">IRC Nickname</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="irc-nickname" name="irc-nickname" type="text" value="{{ ircNickname }}" tabindex="2" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="A valid IRC alias you usually use.">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="highlight-words">Highlight Words</label>
				<div class="input">
					<div class="field">
						<textarea class="xlarge" id="highlight-words" name="highlight-words" rows="5" tabindex="3">{{ highlightWords }}</textarea>
					</div><span class="tt-tooltip"><a href="#" rel="twipsy" title="A list of words you wish to be notified when said, seperated by spaces.">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="irc-nickname">Autocomplete Character</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="autocompletion" name="autocompletion" type="text" value="{{ autoComplete }}" tabindex="2" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="A character to append after nick autocompletion eg. , : -">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="timestamp-format">24 Hour clock</label>
				<div class="input">
					<div class="field checkbox-field">
						<input type="checkbox" name="timestamp-format" id="timestamp-format" value="1"{{ timestampFormat }}>
					</div>
				</div>
			</div>

		</form></fieldset></div>

		<div id="tab-email" class="hide"><form method="post" id="email-form"><fieldset>
			<p>The form below lets you choose a new email address. Note that we only use your email address for occasionally contacting you, it is not associated to your login in any way.</p>

			<div id="email-message-holder"></div>

			<div class="clearfix">
				<label for="current-email">Current Email</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="current-email" name="current-email" type="text" tabindex="1" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Your current email address.">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="new-email">New Email</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="new-email" name="new-email" type="text" tabindex="2" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Your new email address, must be valid.">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="confirm-email">Confirm Email</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="confirm-email" name="confirm-email" type="text" tabindex="3" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Confirm your new email address.">?</a></span>
				</div>
			</div>
		</form></fieldset></div>

		<div id="tab-password" class="hide"><form method="post" id="password-form"><fieldset>
			<p>The form below lets you choose a new password to login with. Your new password must be between 6 and 25 characters.</p>

			<div id="password-message-holder"></div>

			<div class="clearfix">
				<label for="current-pass">Current Password</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="current-pass" name="current-pass" type="password" tabindex="1" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Your current password, just to identify you!">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="new-pass">New Password</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="new-pass" name="new-pass" type="password" tabindex="2" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Your new password, between 6 and 25 characters.">?</a></span>
				</div>
			</div>

			<div class="clearfix">
				<label for="confirm-pass">Confirm Password</label>
				<div class="input">
					<div class="field">
						<input class="xlarge" id="confirm-pass" name="confirm-pass" type="password" tabindex="3" />
					</div><span class="tooltip"><a href="#" rel="twipsy" title="Confirm your new password.">?</a></span>
				</div>
			</div>
		</form></fieldset></div>
	</div>
	<div class="right-set">
		<p class="indent">For ease we've seperated your settings up into individual sections, you can toggle between these sections below.</p>
		<ul class="setting-tabs">
			<li class="active"><a href="#" data-content="settings">Settings</a></li>
			<li><a href="#" data-content="email">Change Email Address</a></li>
			<li><a href="#" data-content="password">Change Password</a></li>
		</ul>
	</div>
</div>
<div class="modal-footer">
	<input type="button" class="btn primary" id="settings-submit" data-content="settings" value="Update Settings" />
</div>
</fieldset>